body {
    direction: rtl;
    text-align: right;
}

.owl-carousel.owl-loaded {
    direction: ltr;
}
.owl-carousel.owl-drag .owl-item {
    direction: rtl;
}
.brand.left {
    float: right !important;
}

.brand.right {
    float: left !important;
}

.brand.right h3 {
    font-size: 1rem;
}