{% load static %}
{% load base_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- head -->
    <meta charset="utf-8">
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Autoplay usage demo">
    <meta name="author" content="David Deutsch">
    <title>
        {% translate 'Django' %} | Owl Carousel | 2.3.4
    </title>

    <!-- Stylesheets -->
    <!--    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="{% static 'css/docs.theme.min.css' %}">
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    {% endif %}

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/assets/owl.theme.default.min.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <!-- javascript -->
    <script src="{% static 'vendors/jquery.min.js' %}"></script>
    <script src="{% static 'owlcarousel/owl.carousel.js' %}"></script>
</head>
<body>

<!-- header -->
<header class="header">
    <div class="row">
        <div class="large-12 columns">
            <div class="brand left">
                <h3>
                    <a href="/OwlCarousel2/">{% translate 'Django' %}!</a>
                </h3>
            </div>
            <div class="brand right">
                <h3>
                    <a href="{% url 'change_lang' %}?lang=fa&next=/fa/{{ request.path|slice:'4:' }}">{% translate 'Fa' %}</a>
                    /
                    <a href="{% url 'change_lang' %}?lang=en&next=/en/{{ request.path|slice:'4:' }}">{% translate 'EN' %}</a>
                </h3>
            </div>
            <a id="toggle-nav" class="right">
                <span></span> <span></span> <span></span>
            </a>
        </div>
    </div>
</header>

<!-- title -->
<section class="title">
    <div class="row">
        <div class="large-12 columns">
            <h1>{% translate 'Articles' %}</h1>
        </div>
    </div>
</section>

<!--  Demos -->
<section id="demos">
    <div class="row">
        <div class="large-12 columns">
            <div class="owl-carousel owl-theme">
                {% slides %}
            </div>
            <a class="button secondary play">{% translate 'Play' %}</a>
            <a class="button secondary stop">{% translate 'Stop' %}</a>
            <script>
                $(document).ready(function () {
                    var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 1000,
                        autoplayHoverPause: true
                    });
                    $('.play').on('click', function () {
                        owl.trigger('play.owl.autoplay', [1000])
                    })
                    $('.stop').on('click', function () {
                        owl.trigger('stop.owl.autoplay')
                    })
                })
            </script>
        </div>
    </div>
</section>

<!-- footer -->
<footer class="footer">
    <div class="row">
        <div class="large-12 columns">
            <h5>
                <a href="#!">Orhan Pin</a>
                <a id="custom-tweet-button"
                   href="#!"></a>
            </h5>
        </div>
    </div>
</footer>

<!-- vendors -->
<script src="{% static 'vendors/highlight.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>