{% load i18n %}
{% for slide in slides %}
    <div class="item">
        <h4><img src="{{ slide.article.image.url }}" alt="{{ slide.title }}"></h4>
        <p>{{ slide.article.title }}</p>
    </div>
{% endfor %}